<div class="col-xs-3">
	<table>
		<thead>
			<tr>
				<tr>
					<th>名前</th>
				</tr>
				<tr>
					<th>フリガナ</th>
				</tr>
				<tr>
					<th>郵便番号</th>
				</tr>
				<tr>
					<th>住所</th>
				</tr>
				<tr>
					<th>住所</th>
				</tr>
			</tr>
		</thead>
	</table>
	<%= link_to "登録者情報編集",edit_user_path %>
</div>


<div class="col-xs-9">
	注文中の商品<br>
	過去の注文履歴
</div>
