// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin_orderbox {
  margin-top: 10px;
}

.admin_order_headline {
  background-image: image-url("8bit_mono.jpeg");
  padding: 10px 0;
  margin-bottom: 15px;
  border: 1px #000000 solid;
}

.admin_order_headline h2 {
  padding-left: 10px;

}
