<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

<% @carts.each do |cart| %>

<% end %>

<p>小計: <%= cart.product.price * cart.quantity %></p>
<p><%= link_to "削除", cart_path(cart.id), method: :delete %>
<% end %>
		</div>
	</div>
</div>