/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";



.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  width: 100%;
  padding: 5px 0;
  background-color: #ffffffe8;
  border-bottom: solid 1px #777;
}

.head {
  margin: 0 auto;
  position: relative;
  padding: 0 25px;
}

.head p {
  display: inline-block;
  padding-left: 10px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0;
  font-size: 30px;
}

.head_navi {
  float: left;
  position: absolute;
  bottom: 0;
  right: 0;
  display: table;
  padding-right: 30px;
}

.navi-list {
  width: 130px;
  list-style: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.navi-list a {
  color: #000000;
  text-decoration:none;
  font-size: 15px;
  font-family: sans-serif;
}

.navi-list p {
  position: absolute;
  bottom: 0;
  font-size: 15px;
}




.main_contents {
  background: image-url('haikei.jpeg');
}

.main_contents_mask {
  min-height: 600px;
  height: auto !important;
  height: 1080px;
  background: rgba(255,255,255,0.5);
  padding: 30px 0;
}


.message_notice {
  font-size: larger;
  color: green;
  width: 22%;
  position: absolute;
  left: 31%;
  bottom: 5%;
}




  .update-actions {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .sign-in-box {
    text-align: center;
  }

  .sign-in-box label {
    padding-top: 10px;
  }

  .sign-in-box_main {
    margin-bottom: 15px;
  }



  .sign_up_box {
  margin-left: 10px;
  }
  .sign_up_box_text {
    text-align: center;
  }
  .sign_up_box_btn {
    height: 48px;
    margin-top: 15px;
    position: relative;
    margin-left: 30%;
  }
  .sign_up_box_icon:nth-child(1) {
    position: absolute;
    bottom: -1px;
    right: 257px;
  }
  .sign_up_box_icon:nth-child(2) {
    font-size: 39px;
    position: absolute;
    bottom: -11px;
    right: 0;
  }
  .fb_text {
    font-size: 20px;
  }




  .user-edit {
   padding-left:500px;
  }

 .edit-box {
    text-align: center;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
 }

.m {
  padding: 5px 0 5px 0;
}

.ss {
	margin-left: 20px;
}



.footer {
  background-color: #c0c0c0;
  padding: 30px 0 20px 0;
  color: #777;
  text-decoration:none
}

.footer_company {
  list-style: none;
  display: inline-block;
  width: 70%;
  margin-right: 20px;
}

.company_list {
  display: inline-block;
  margin-right: 20px;
}

.company_list a {
  color: #777;
  text-decoration:none;
}

.company_name {
  display: inline-block;
  text-align: right;
  width: 20%;
}

.footer_text {
  margin: 0 0 0 40px;
  font-size: 10px;
}

.table .align-middle {
  vertical-align: middle;
  text-align: center;
}






