// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table .align-middle {
  vertical-align: middle;
  text-align: center;
}

.cart-layout {
	margin-top: 2%;
}

.btn-size {
	font-size: 7px;
}

.total-right {
	text-align: right;
}

.total-name {
}

.total-price {
	font-size:25px;
	font-family: serif;
	color: red;
}
