// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-box {
	width:100%;
	height: 630px;
	overflow: scroll;
}
.item {
	float: left;
	width: 23%;
	margin-right: 2%;
	border: #222121 1px solid;
	height: 310px;
	text-align: center;
	padding-top: 10px;
	background: white;
}
.item:nth-child(n+5) {
	margin-top: 1%;
}
p.title {
	border: #222121 1px solid;
	margin-right: 2%;
	font-weight: bold;
	font-size: 22px;
    padding: 5px 0 2px 0;
    text-align: center;
    background: white;
}
.search {
	border: #dfdfdf 1px solid;
}

.label-top {
	margin-top:5px;
}

.puro-size {
	font-size:13px;
}

.song-box {
	margin-left: 25%;
	margin-right: 15%;
}

.left-off {
	border: #222121 1px solid;
	margin-right: 2%;
    padding: 5px 0 2px 0;
    text-align: center;
    background: white;
}
.size {
	width:78%;
}

.text-disc {
	vertical-align: middle;
}
.back {
	background: white;
}

.success {
	color:green;
	text-align: center;
}

.miss-create {
	color:green;
	text-align: center;
}
