// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .row {
  text-align: center;
  }

  .actions {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .sign-in-box {
    text-align: center;
  }

.user-new {
  text-align: center;
  }

  .actions {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .sign-in-box {
    text-align: center;
  }

  .user-edit {
   padding-left:500px;
  }

 .col-xs-3 {
     padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/

 }

.m {
  padding: 5px 0 5px 0;
}

 



.footer {
  background-color: #c0c0c0;
  padding: 10px 0;
}