// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-view {
	width: 100%;
	height: 50px;
	overflow: scroll;
}

.product-info {
	display: block;
}

.order-list {
	width: 100%;
	height: 50px;
	overflow: scroll;
}